{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block main %}
<main>
    <section id="cadastro">
        <h2>Cadastro de Paciente</h2>
        <form action="{% url 'cadastro' %}" method="post">
            {% csrf_token %}
            
            <label for="nome">Nome:</label>
            {{ form.nome }}
            
            <label for="email">Email:</label>
            {{ form.email }}
            
            <label for="telefone">Telefone:</label>
            {{ form.telefone }}
            
            <label for="endereco">Endereço:</label>
            {{ form.endereco }}
            
            <button type="submit">Cadastrar</button>
        </form>
    </section>
</main>
{% endblock main %}
